html, body{
    margin:0;
    padding: 0;
    background-image:url('../images/fon1.jpg');
}
#header{
    min-width:1270px;
    min-height:100px;
    margin:0 auto;
    padding:0;    
}

#left{
    float:left;
    width:200px;
    min-height: 400px;
}

#content{
    margin:0 0 0 200px;
    padding:0;
    background-image:url('../images/fon.jpg');
    min-height: 500px;
    min-width:1070px;
}
div.right{
    display:inline;
    position:relative;
    float:right;
    margin: 0 5px ;
    width:90px;
    
}
div #logo{
    display: inline;
    width:200px;
    float:left;
}
p{
    text-align: center;
    font-size:20px;
    font-weight: bold;
    margin:0;
}
p.address{
    text-align: center;
    font-weight: bold;
    color:brown;
    vertical-align: middle;
    margin:0;
}
p.book{
    text-align: left;
    font-size:15px;
    font-weight: 500;
    margin:0;
}
 h1{
    text-align: center;
    color:chocolate;
}

 h2{
    text-align: center;

}
span.tit{
    font-size:15px;
    font-weight: 900; 
    float:left;
}

#menu{
    margin:0 auto;
}
div #menu ul{
    position:absolute;
    display:inline;   
    margin:10px auto;   
}

ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    border: 1px solid brown; /* Рамка вокруг текста */
    border-radius:15em;
    padding: 5px 5px 5px 10px; /* Поля вокруг текста */
    margin:20px 0;
    float: left;
    width:170px;
}

ul.hr{
    min-width: 960px;
}
ul.hr li a{   
    text-decoration: none;
    color:brown;
    font-weight:bold;
    font-size: 25px;
}
li .dis{
    border:1px solid #8B4513;
    border-radius:15em;
    cursor: default;
    padding:5px 2px;

}
ul.hr  li a.dis{
    color:#D2691E;
    background:#DEB887;
}

a.dis{    
    color:#D2691E;
    cursor: default;
    text-decoration: none;
}

table{
    width:960px;
    border:2px double #8B4513;
    margin:0px auto;
    border-collapse: collapse;
    background-color:#D2B48C;
    
}
.check{
    width:600px;
}
.small{
    width:auto;
}
.main{
    width:600px;
}
td,th{
    border:1px solid;
    padding:2px 10px;
    text-align:center;
}
td.lef{
text-align: justify;
}
td.link{
    text-decoration: underline;
    cursor: pointer;
}
.attention{
    color:brown;
}
table .check,table .check td,table .check th{
    border-width: 0;
    text-align: left;
}
input[type="number"]{
    width:50px;
}
#mail{
    color:brown;
    float:left;
}
#mail >h3{
    color:black;
}
.field {
    clear:both; 
    text-align:right; 
    line-height:25px;
}
label {
    float:left; 
    padding-right:0px;
}
.forms {
    float:left;
}
.forms span{
    color:red;
    vertical-align: top;
}