<h2>Добавьте свое сообщение:</h2>
<form action="../controller/guest_book.php" method="post">
    (до 255 символов):<br/>
    <textarea name="comment" cols="51" rows="5" required="" autofocus="" maxlength="255"></textarea><br/> 
    <input type="submit" name="doAdd" value="Добавить!">
</form>