<div id="left">
    <br/><br/><br/>
    <h1>Отель "БЕРЛОГА"</h1>
    <p class="address">
    <br/><br/>
        Шпицберген<br/>
        Медвежий остров<br/>
        тел.<br/> +38-057-777-25-25
    </p>
</div>